# Ignorar carpetas de compilación y distribución
/build/
/dist/

# Ignorar configuraciones de usuario específicas de NetBeans
nbproject/private/
nbproject/private.properties
nbproject/private/private.xml
nbproject/genfiles.properties
nbproject/vars.properties

# Ignorar archivos específicos del IDE o generados
*.class
*.log
*.tmp
config.properties